* {
  padding: 0;
  margin: 0;
  font-family:'Comfortaa';
  box-sizing: border-box;
}

body {
  background-color: #eaebea;
  color: #0c0e0c;
  min-width: 400px;
}
#icon-container{
  height: 200px;
  width: 200px;
}
#icon-container img{
  height: 90%;
}
.header {
  background-color: transparent;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  padding: 10px;
  width: 100%;
}
.landing-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.log-input {
  width: 300px;
  height: 2rem;
  padding: 5px; 
  color:#d8323c;
  font-weight: 500;
  border: none;
  border-bottom: solid 1px #d8323c;
  background-color: transparent;
}
.log-input:focus{
  outline: none;
}
#form-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 40px;
}
#log-form, #reg-form {
 /* border: solid #d8323c 3px; */
  border-radius: 5px;
  padding: 20px;
  width: 350px;
  margin: auto;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
 
}

.input-label {
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 5px;
}

#log-note {
  color:#d8323c;
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 40px;
}

#log-button {
  font-size: 1rem;
  padding: 5px;
  margin: auto;
  width: 90%;
  border-radius: 20px;
  border: none;
  background-color: #d8323c;
  color:#eaebea;
}

#log-button:hover {
  background-color: #d8323dad;
}

.form-link{
  border: none;
  color:#d8323c;
  text-decoration: underline;
  font-size: 0.8rem;
}

.main{
  min-width: 400px;
}

.bottom-btn {
  color: #0c0e0c;
  border: none;
  background-color: transparent;
  padding: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 1%;
  left: 0.5%;

}

.bottom-btn:hover{
  background-color: #d8323dad;
  border-radius: 50%;
  border: none;
  padding: 10px;
}

.bottom-btn i{
  font-size:1.5rem;
  padding-bottom:3px;
}

.sidenav {
  background-color: #d8323d67;
  color: #0c0e0c;
  max-width: 20%;
  height: 100vh;
  left: 0;
  /*overflow: scroll;*/
}
.sidenav h1{
  font-size:2rem;
  padding: 10px;
  text-align: center;
}
.add-channel-line {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
}
.add-channel-btn{
  font-size:1rem;
  background-color: transparent;
  border: none;
  margin-right: 5px;
  color: #0c0e0c;
  padding: 5px;
}
.add-channel-btn:hover {
  background-color: #d8323dad;
  border-radius: 10px;
}

.sidenav-label{
  font-size: 1rem;
}

.users-list{
  color: #0c0e0c;
  font-size: 0.8rem;
}

.logged-user-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  text-shadow: 1px #eaebea;
  font-size: 1.2rem;
  overflow: auto;
}

/*.logged-user-container h3 {
  font-size: 1.2rem;
  font-weight: 800;
  color: #d8323c;
  padding: 5px;
}*/

.chat-title {
  color: #d8323c;
  position: absolute;
  top: 20px;
  left: 25%;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align:center;
  width: 70%;
}

.text-field {
  position: absolute;
  left: 25%;
  bottom: 3%;
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 5px solid #d8323c;
  border-radius: 8px;
}
.chat-input{
  width:92%;
  font-size: 1rem;
  padding:5px;
  border: none;
  font-weight: 800;
  background-color: #eaebea;

}
.chat-input:focus{
  outline: none;
}
#submit-chat{
  background-color:#d8323c;
  width: 8%;
  border: none;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding:2px;
  color: #eaebea;
}
#submit-chat i{
 font-size: 4rem;
}

#submit-chat:hover {
  background-color: rgba(128, 16, 16, 0.716);
}

.user-list-container {
  max-height: 250px;
  overflow: auto;
  padding: 10px;
}
.indiv-users a {
  color: #0c0e0c;
  text-decoration: none;
  font-size: 1rem;
  padding:5px;
}
#user-search{
  width: 80%;
  height: 2rem;
  border: none;
  border-radius: 20px;
  background-color: rgba(53, 49, 49, 0.692);
  padding: 5px;
  text-align:center;
  margin: 10px 0px 5px 0px;
  color: white;
 
}
#user-search:focus{
  outline: none;
}
#user-search::placeholder{
  color: white;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#message-container {
  width: 70%;
  height: 70%;
  overflow: auto;
  position: absolute;
  top: 10%;
  left: 25%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.message:hover {
  background-color: lightgrey;
}
.initial-container {
  height:1.7rem;
  width:1.7rem;
  font-size: 1rem;
  border-radius: 50%;
  color:#eaebea;
  background-color: #d8323c;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-left: 5px;
  padding: 5px;
}
.user-initial{
  text-align: center;
  font-weight: bold;
}
.message-time {
  color: #d8323c;
  font-size: 0.6rem;
  font-weight: 700;
}
.actual-message{
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 10px;
  text-align: justify;

}
.sender-details {
  display: flex;
  flex-direction: row;

}
.right-side-deets {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: flex-start;
}
.sender-eadd {
  font-weight: 700;
}

.sender-details.sent-message {
  background-color: transparent;
}
.sent-message{
  background-color:#d8323d67;
}

#message-container::-webkit-scrollbar ,
.user-list-container::-webkit-scrollbar, 
.channel-list::-webkit-scrollbar, .logged-user-container::-webkit-scrollbar  {
  width: 7px;
  height: 7px;
}

#message-container::-webkit-scrollbar-thumb,
.user-list-container::-webkit-scrollbar-thumb,
.channel-list::-webkit-scrollbar-thumb, .logged-user-container::-webkit-scrollbar-thumb {
  background-color: #d8323c;
  border-radius: 5px; 
}

#message-container::-webkit-scrollbar-track:hover,
.user-list-container::-webkit-scrollbar-track:hover,
.channel-list::-webkit-scrollbar-track:hover, 
.logged-user-container::-webkit-scrollbar-track:hover {
  background-color: transparent; 
}

#message-container::-webkit-scrollbar-thumb:horizontal, 
.user-list-container::-webkit-scrollbar-thumb:horizontal,
.channel-list::-webkit-scrollbar-thumb:horizontal,
.logged-user-container::-webkit-scrollbar-thumb:horizontal {
  background-color: #d8323c;
  border-radius: 5px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  color: black;
}


.channel-modal {
  background-color: white;
  border-radius: 8px;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-label {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

.close-modal {
  background-color: #d8323c;
  color: #eaebea;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  padding:2px;
  font-family: 'Arial';
}
.close-modal:hover{
  background-color: #d8323d67;
}
.modal-content {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.modal-content input{
  height: 2rem;
  padding:5px;
}
.create-button {
  background-color: #d8323c;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
}
.create-button:hover {
  background-color: #d8323d9e;
}

.modal-labels{
  font-size: 1rem; 
  text-align: left;
}

.channel-list {
 max-height: 200px;
 overflow: scroll;
 color: #0c0e0c;
 padding-left: 10px;
}
.channel-list li a{
  color: #0c0e0c;
  list-style: none;
  text-decoration: none;
}
.channel-list li a:hover{
  color: #d8323c;
}

.add-member-modal {
  background-color: white;
  border-radius: 8px;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.add-new-member {
  width: 300px;
  text-align:left;
}
.add-new-member:focus{
  outline: none;
}
.member-container {
  padding-top: 10px;
}
.member-container li{
  list-style: none;
  color: #d8323c;
}
.show-details-btn{
  position: absolute;
  right: 10px;
  top: 10px;
  color:#eaebea;
  border: none;
  
}
.i-wrapper{
  background-color: #d8323c;
  border-radius: 50%;
  height: 30px;
  width:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 2rem;
 
}

#small-icon-img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
  margin-right: 10px;
}

#logged-user-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
