* {
  padding: 0;
  margin: 0;
  font-family:'Comfortaa';
  box-sizing: border-box;
}

body {
  background-color: #eaebea;
  color: #0c0e0c;
  min-width: 400px;
}

.header {
  background-color: #0c0e0c;
  color: #eaebea;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.log-input {
  width: 300px;
  height: 2rem;
  border-radius: 10px;
  padding: 5px; 
  color:#d8323c;
  font-weight: 500;
}

#log-form, #reg-form {
  border: solid #d8323c 3px;
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.input-label {
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 5px;
}

#log-note {
  color:#d8323c;
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 15px;
}

#log-button {
  font-size: 1rem;
  padding: 5px;
  margin: auto;
  width: 100px;
  border-radius: 20px;
  border: solid 2px #0c0e0c;
  background-color: #eaebeaa3;
}

#log-button:hover {
  color: #eaebea;
  background-color: #d8323dad;
  border: solid 2px #d8323c;
}

.form-link{
  border: none;
  color:#d8323c;
  text-decoration: underline;
  font-size: 0.8rem;
}

.main{
  min-width: 400px;
}

.bottom-btn {
  color: #eaebea;
  border: none;
  background-color: transparent;
  padding: 5px;
  display:flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 1%;
}

.bottom-btn:hover{
  background-color: #d8323dad;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.bottom-btn i{
  font-size:1.5rem;
  padding-bottom:3px;
}

.sidenav {
  background-color: #0c0e0c;
  color: #eaebea;
  max-width: 20%;
  height: 100vh;
  left: 0;
  /*overflow: scroll;*/
}
.sidenav h1{
  font-size:1rem;
}
.add-channel-line {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
}
.add-channel-btn{
  font-size:1rem;
  background-color: transparent;
  border: none;
  margin-right: 5px;
  color: #eaebea;
  padding: 5px;
}
.add-channel-btn:hover {
  background-color: #d8323dad;
  border-radius: 10px;
}

.sidenav-label{
  font-size: 1rem;
}

.users-list{
  color: #eaebea;
  font-size: 0.8rem;
}

.logged-user-container {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  color: #d8323c;
  text-shadow: 1px #eaebea;
}

.logged-user-container i{
  margin-right: 5px;
}

.chat-title {
  color: #d8323c;
  position: absolute;
  top: 20px;
  left: 25%;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align:center;
  width: 70%;
}

.text-field {
  position: absolute;
  left: 25%;
  bottom: 3%;
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 5px solid #d8323c;
  border-radius: 8px;
}
.chat-input{
  width:92%;
  font-size: 1rem;
  padding:5px;
  border: none;
  font-weight: 800;
  background-color: #eaebea;

}
.chat-input:focus{
  outline: none;
}
#submit-chat{
  background-color:#d8323c;
  width: 8%;
  border: none;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding:2px;
  color: #eaebea;
}
#submit-chat i{
 font-size: 4rem;
}

#submit-chat:hover {
  background-color: rgba(128, 16, 16, 0.716);
}

.user-list-container {
  max-height: 300px;
  overflow: auto;
  padding: 10px;
}
.indiv-users a {
  color: #eaebea;
  text-decoration: none;
  font-size: 1rem;
  padding:5px;
}
#user-search{
  width: 80%;
  height: 2rem;
  border: none;
  border-radius: 20px;
  background-color: rgba(53, 49, 49, 0.692);
  padding: 5px;
  text-align:center;
  margin: 10px 0px 5px 0px;
  color: white;
 
}
#user-search:focus{
  outline: none;
}
#user-search::placeholder{
  color: white;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#message-container {
  width: 70%;
  height: 70%;
  overflow: scroll;
  position: absolute;
  top: 10%;
  left: 25%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.message:hover {
  background-color: #d8323d60;
}
.initial-container {
  height:1.7rem;
  width:1.7rem;
  font-size: 1.2rem;
  border-radius: 50%;
  font-weight:800;
  color:#eaebea;
  background-color: #d8323c;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-left: 5px;
}
.message-time {
  color: #d8323c;
  font-size: 0.6rem;
  font-weight: 700;
}
.actual-message{
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 35px;

}
.sender-details {
  display: flex;
  flex-direction: row;

}
.right-side-deets {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: flex-end;
}
.sender-eadd {
  font-weight: 700;
}

.sender-details.sent-message {
  background-color: transparent;
}
.sent-message{
  background-color:#d8323d67;
}

#message-container::-webkit-scrollbar ,
.user-list-container::-webkit-scrollbar   {
  width: 7px;
  height: 7px;
}

#message-container::-webkit-scrollbar-thumb,
.user-list-container::-webkit-scrollbar-thumb {
  background-color: #d8323c;
  border-radius: 5px; 
}

#message-container::-webkit-scrollbar-track:hover,
.user-list-container::-webkit-scrollbar-track:hover {
  background-color: transparent; 
}

#message-container::-webkit-scrollbar-thumb:horizontal, 
.user-list-container::-webkit-scrollbar-thumb:horizontal {
  background-color: #d8323c;
  border-radius: 5px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  color: black;
}


.channel-modal {
  background-color: white;
  border-radius: 8px;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-label {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

.close-modal {
  color: #d8323c;
  border-radius: 50%;
  border: 1px solid #d8323c;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  padding:2px;
}

.modal-content {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.modal-content input{
  height: 2rem;
  padding:5px;
}
.create-button {
  background-color: #d8323c;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
}
.create-button:hover {
  background-color: #d8323d9e;
}

.modal-labels{
  font-size: 1rem; 
}
